<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('修改司机-车辆关系')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-driverCar-edit" th:object="${driverCar}">
            <input id="id" name="id" th:field="*{id}"  type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label">司机手机号：</label>
				<div class="col-sm-8">
					<input id="driverMobile" name="driverMobile" th:field="*{driverMobile}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">车号：</label>
				<div class="col-sm-8">
					<input id="carNo" name="carNo" th:field="*{carNo}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">车牌号：</label>
				<div class="col-sm-8">
					<input id="carBrand" name="carBrand" th:field="*{carBrand}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">客户端通知标识alias：</label>
				<div class="col-sm-8">
					<input id="notifyId" name="notifyId" th:field="*{notifyId}" class="form-control" type="text">
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "cars/driverCar";
		$("#form-driverCar-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-driverCar-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
