<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.cars.carSignlog.mapper.CarSignlogMapper">
    
    <resultMap type="CarSignlog" id="CarSignlogResult">
        <result property="id"    column="id"    />
        <result property="carNos"    column="car_nos"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="suffixTime"  column="suffix_time"/>
    </resultMap>
	
	<sql id="selectCarSignlogVo">
        select id, car_nos, create_time, update_time,suffix_time from tb_car_signlog
    </sql>
	
    <select id="selectCarSignlogList" parameterType="CarSignlog" resultMap="CarSignlogResult">
        <include refid="selectCarSignlogVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="carNos != null  and carNos != '' "> and car_nos = #{carNos}</if>
             <if test="createTime != null "> and create_time = #{createTime}</if>
             <if test="updateTime != null "> and update_time = #{updateTime}</if>
             <if test="suffixTime != null "> and suffix_time = #{suffixTime}</if>
            <if test="sqlWhere!=null">${sqlWhere}</if>
         </where>
    </select>
    
    <select id="selectCarSignlogById" parameterType="Long" resultMap="CarSignlogResult">
        <include refid="selectCarSignlogVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertCarSignlog" parameterType="CarSignlog" useGeneratedKeys="true" keyProperty="id">
        insert into tb_car_signlog
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  ">id,</if>
			<if test="carNos != null  and carNos != ''  ">car_nos,</if>
			<if test="createTime != null  ">create_time,</if>
			<if test="updateTime != null  ">update_time,</if>
			<if test="suffixTime != null  ">suffix_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  ">#{id},</if>
			<if test="carNos != null  and carNos != ''  ">#{carNos},</if>
			<if test="createTime != null  ">#{createTime},</if>
			<if test="updateTime != null  ">#{updateTime},</if>
			<if test="suffixTime != null  ">#{suffixTime},</if>
         </trim>
    </insert>
	 
    <update id="updateCarSignlog" parameterType="CarSignlog">
        update tb_car_signlog
        <trim prefix="SET" suffixOverrides=",">
            <if test="carNos != null  and carNos != ''  ">car_nos = #{carNos},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="updateTime != null  ">update_time = #{updateTime},</if>
            <if test="suffixTime != null  ">suffix_time = #{suffixTime},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteCarSignlogById" parameterType="Long">
        delete from tb_car_signlog where id = #{id}
    </delete>
	
    <delete id="deleteCarSignlogByIds" parameterType="String">
        delete from tb_car_signlog where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>