<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('新增配合比数据')"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-cemsMixformula-add">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-sm-6 control-label">配合比编号：</label>
                    <div class="col-sm-6">
                        <input id="mixNumber" name="mixNumber" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-sm-4 control-label">是否润泵砂浆：</label>
                    <div class="col-sm-6">
                        <div class="radio-box" th:each="dict : ${@dict.getType('sys_yes_no')}">
                            <input type="radio"  id="radio1" name="isMortar" value="1">
                            <input type="radio"  id="radio2" name="isMortar" value="0">
                            <label for="radio1" text="是"></label>
                            <label for="radio2" text="否"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-sm-4 control-label">砼标号：</label>
                    <div class="col-sm-6">
                        <input id="concreteLabel" name="concreteLabel" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-sm-6 control-label">浇注方式：</label>
                    <div class="col-sm-6">
                        <input id="pouringWay" name="pouringWay" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-sm-4 control-label">坍落度：</label>
                    <div class="col-sm-6">
                        <input id="slump" name="slump" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <!--<div class="col-md-4">
                <div class="form-group">
                    <label class="col-sm-6 control-label">生产线：</label>
                    <div class="col-sm-6">
                        <input id="productLine" name="productLine" class="form-control" type="text">
                    </div>
                </div>
            </div>-->
            <!--<div class="col-md-4">
                <div class="form-group">
                    <label class="col-sm-6 control-label">预留：</label>
                    <div class="col-sm-6">
                        <input id="mixQnty" name="mixQnty" class="form-control" type="text">
                    </div>
                </div>
            </div>-->
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-sm-4 control-label">搅拌时间：</label>
                    <div class="col-sm-6">
                        <input id="mixTime" name="mixTime" class="form-control" type="number">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-sm-4 control-label">水泥 1 设定量：</label>
                    <div class="col-sm-6">
                        <input id="cement1Dosage" name="cement1Dosage" class="form-control" type="number">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-sm-4 control-label">水泥 2 设定量：</label>
                    <div class="col-sm-6">
                        <input id="cement2Dosage" name="cement2Dosage" class="form-control" type="number">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-sm-6 control-label">水泥 3 设定量：</label>
                    <div class="col-sm-6">
                        <input id="cement3Dosage" name="cement3Dosage" class="form-control" type="number">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-sm-6 control-label">水泥 4 设定量：</label>
                    <div class="col-sm-6">
                        <input id="cement4Dosage" name="cement4Dosage" class="form-control" type="number">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-sm-6 control-label">水泥 5 设定量：</label>
                    <div class="col-sm-6">
                        <input id="cement5Dosage" name="cement5Dosage" class="form-control" type="number">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-sm-6 control-label">掺合料 1 设定量：</label>
                    <div class="col-sm-6">
                        <input id="mix1Dosage" name="mix1Dosage" class="form-control" type="number">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-sm-6 control-label">掺合料 2 设定量：</label>
                    <div class="col-sm-6">
                        <input id="mix2Dosage" name="mix2Dosage" class="form-control" type="number">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-sm-6 control-label">掺合料 3 设定量：</label>
                    <div class="col-sm-6">
                        <input id="mix3Dosage" name="mix3Dosage" class="form-control" type="number">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-sm-6 control-label">掺合料 4 设定量：</label>
                    <div class="col-sm-6">
                        <input id="mix4Dosage" name="mix4Dosage" class="form-control" type="number">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-sm-6 control-label">掺合料 5 设定量：</label>
                    <div class="col-sm-6">
                        <input id="mix5Dosage" name="mix5Dosage" class="form-control" type="number">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-sm-6 control-label">骨料 1 设定量：</label>
                    <div class="col-sm-6">
                        <input id="aG1Dosage" name="aG1Dosage" class="form-control" type="number">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-sm-6 control-label">骨料 2 设定量：</label>
                    <div class="col-sm-6">
                        <input id="aG2Dosage" name="aG2Dosage" class="form-control" type="number">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-sm-6 control-label">骨料 3 设定量：</label>
                    <div class="col-sm-6">
                        <input id="aG3Dosage" name="aG3Dosage" class="form-control" type="number">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-sm-6 control-label">骨料 4 设定量：</label>
                    <div class="col-sm-6">
                        <input id="aG4Dosage" name="aG4Dosage" class="form-control" type="number">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-sm-6 control-label">骨料 5 设定量：</label>
                    <div class="col-sm-6">
                        <input id="aG5Dosage" name="aG5Dosage" class="form-control" type="number">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-sm-6 control-label">骨料 6 设定量：</label>
                    <div class="col-sm-6">
                        <input id="aG6Dosage" name="aG6Dosage" class="form-control" type="number">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-sm-6 control-label">骨料 7 设定量：</label>
                    <div class="col-sm-6">
                        <input id="aG7Dosage" name="aG7Dosage" class="form-control" type="number">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-sm-6 control-label">骨料 8 设定量：</label>
                    <div class="col-sm-6">
                        <input id="aG8Dosage" name="aG8Dosage" class="form-control" type="number">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-sm-6 control-label">外加剂 1 设定量：</label>
                    <div class="col-sm-6">
                        <input id="additive1Dosage" name="additive1Dosage" class="form-control" type="number">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-sm-6 control-label">外加剂 2 设定量：</label>
                    <div class="col-sm-6">
                        <input id="additive2Dosage" name="additive2Dosage" class="form-control" type="number">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-sm-6 control-label">外加剂 3 设定量：</label>
                    <div class="col-sm-6">
                        <input id="additive3Dosage" name="additive3Dosage" class="form-control" type="number">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-sm-6 control-label">外加剂 4 设定量：</label>
                    <div class="col-sm-6">
                        <input id="additive4Dosage" name="additive4Dosage" class="form-control" type="number">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-sm-6 control-label">水 1 设定量：</label>
                    <div class="col-sm-6">
                        <input id="water1Dosage" name="water1Dosage" class="form-control" type="number">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-sm-6 control-label">水 2 设定量：</label>
                    <div class="col-sm-6">
                        <input id="water2Dosage" name="water2Dosage" class="form-control" type="number">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-sm-6 control-label">水 3 设定量：</label>
                    <div class="col-sm-6">
                        <input id="water3Dosage" name="water3Dosage" class="form-control" type="number">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-sm-6 control-label">Type：</label>
                    <div class="col-sm-6">
                        <input id="type" name="type" class="form-control" type="number">
                    </div>
                </div>
            </div>
            <!--<div class="col-md-4">
                <div class="form-group">
                    <label class="col-sm-6 control-label">同步标识：</label>
                    <div class="col-sm-6">
                        <input id="syncStatus" name="syncStatus" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-sm-6 control-label">从机同步标识：</label>
                    <div class="col-sm-6">
                        <input id="syncStatus2" name="syncStatus2" class="form-control" type="text">
                    </div>
                </div>
            </div>-->
        </div>
        <div class="row">
            <div class="col-sm-offset-5 col-sm-11">
                <button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()"><i class="fa fa-check"></i>保 存
                </button>&nbsp;
                <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>关 闭
                </button>
            </div>
        </div>
    </form>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript">
    var prefix = ctx + "cems/cemsMixformula"
    $("#form-cemsMixformula-add").validate({
        rules: {
            xxxx: {
                required: true,
            },
        },
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/add", $('#form-cemsMixformula-add').serialize());
        }
    }
</script>
</body>
</html>
