<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.stock.receivePeople.mapper.ReceivePeopleMapper">
    
    <resultMap type="ReceivePeople" id="ReceivePeopleResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="mobile"    column="mobile"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>
	
	<sql id="selectReceivePeopleVo">
        select id, name, mobile, create_by, create_time, update_time from tb_receive_people
    </sql>
	
    <select id="selectReceivePeopleList" parameterType="ReceivePeople" resultMap="ReceivePeopleResult">
        <include refid="selectReceivePeopleVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="name != null  and name != '' "> and name = #{name}</if>
             <if test="mobile != null  and mobile != '' "> and mobile = #{mobile}</if>
             <if test="createBy != null  and createBy != '' "> and create_by = #{createBy}</if>
             <if test="createTime != null "> and create_time = #{createTime}</if>
             <if test="updateTime != null "> and update_time = #{updateTime}</if>
         </where>
    </select>
    
    <select id="selectReceivePeopleById" parameterType="Long" resultMap="ReceivePeopleResult">
        <include refid="selectReceivePeopleVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertReceivePeople" parameterType="ReceivePeople" useGeneratedKeys="true" keyProperty="id">
        insert into tb_receive_people
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  ">id,</if>
			<if test="name != null  and name != ''  ">name,</if>
			<if test="mobile != null  and mobile != ''  ">mobile,</if>
			<if test="createBy != null  and createBy != ''  ">create_by,</if>
			<if test="createTime != null  ">create_time,</if>
			<if test="updateTime != null  ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  ">#{id},</if>
			<if test="name != null  and name != ''  ">#{name},</if>
			<if test="mobile != null  and mobile != ''  ">#{mobile},</if>
			<if test="createBy != null  and createBy != ''  ">#{createBy},</if>
			<if test="createTime != null  ">#{createTime},</if>
			<if test="updateTime != null  ">#{updateTime},</if>
         </trim>
    </insert>
	 
    <update id="updateReceivePeople" parameterType="ReceivePeople">
        update tb_receive_people
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null  and name != ''  ">name = #{name},</if>
            <if test="mobile != null  and mobile != ''  ">mobile = #{mobile},</if>
            <if test="createBy != null  and createBy != ''  ">create_by = #{createBy},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="updateTime != null  ">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteReceivePeopleById" parameterType="Long">
        delete from tb_receive_people where id = #{id}
    </delete>
	
    <delete id="deleteReceivePeopleByIds" parameterType="String">
        delete from tb_receive_people where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>