<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.stock.sendWaterPart.mapper.SendWaterPartMapper">
    
    <resultMap type="SendWaterPart" id="SendWaterPartResult">
        <result property="id"    column="id"    />
        <result property="partName"    column="part_name"    />
        <result property="userId"    column="user_id"    />
        <result property="deptId"    column="dept_id"    />
        <result property="updateBy"    column="update_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>
	
	<sql id="selectSendWaterPartVo">
        select id, part_name, user_id, dept_id, update_by, create_time, update_time from tb_send_water_part
    </sql>
	
    <select id="selectSendWaterPartList" parameterType="SendWaterPart" resultMap="SendWaterPartResult">
        <include refid="selectSendWaterPartVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="partName != null  and partName != '' "> and part_name = #{partName}</if>
             <if test="userId != null "> and user_id = #{userId}</if>
             <if test="deptId != null "> and dept_id = #{deptId}</if>
             <if test="updateBy != null  and updateBy != '' "> and update_by = #{updateBy}</if>
             <if test="createTime != null "> and create_time = #{createTime}</if>
             <if test="updateTime != null "> and update_time = #{updateTime}</if>
         </where>
    </select>
    
    <select id="selectSendWaterPartById" parameterType="Long" resultMap="SendWaterPartResult">
        <include refid="selectSendWaterPartVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSendWaterPart" parameterType="SendWaterPart" useGeneratedKeys="true" keyProperty="id">
        insert into tb_send_water_part
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  ">id,</if>
			<if test="partName != null  and partName != ''  ">part_name,</if>
			<if test="userId != null  ">user_id,</if>
			<if test="deptId != null  ">dept_id,</if>
			<if test="updateBy != null  and updateBy != ''  ">update_by,</if>
			<if test="createTime != null  ">create_time,</if>
			<if test="updateTime != null  ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  ">#{id},</if>
			<if test="partName != null  and partName != ''  ">#{partName},</if>
			<if test="userId != null  ">#{userId},</if>
			<if test="deptId != null  ">#{deptId},</if>
			<if test="updateBy != null  and updateBy != ''  ">#{updateBy},</if>
			<if test="createTime != null  ">#{createTime},</if>
			<if test="updateTime != null  ">#{updateTime},</if>
         </trim>
    </insert>
	 
    <update id="updateSendWaterPart" parameterType="SendWaterPart">
        update tb_send_water_part
        <trim prefix="SET" suffixOverrides=",">
            <if test="partName != null  and partName != ''  ">part_name = #{partName},</if>
            <if test="userId != null  ">user_id = #{userId},</if>
            <if test="deptId != null  ">dept_id = #{deptId},</if>
            <if test="updateBy != null  and updateBy != ''  ">update_by = #{updateBy},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="updateTime != null  ">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteSendWaterPartById" parameterType="Long">
        delete from tb_send_water_part where id = #{id}
    </delete>
	
    <delete id="deleteSendWaterPartByIds" parameterType="String">
        delete from tb_send_water_part where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>