<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('修改属性数据')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-cemsDtproperties-edit" th:object="${cemsDtproperties}">
            <input id="id" name="id" th:field="*{id}"  type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label">ERP运输单号：</label>
				<div class="col-sm-8">
					<input id="objectid" name="objectid" th:field="*{objectid}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">ERP运输单号：</label>
				<div class="col-sm-8">
					<input id="property" name="property" th:field="*{property}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">ERP运输单号：</label>
				<div class="col-sm-8">
					<input id="value" name="value" th:field="*{value}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">ERP运输单号：</label>
				<div class="col-sm-8">
					<input id="uvalue" name="uvalue" th:field="*{uvalue}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">ERP运输单号：</label>
				<div class="col-sm-8">
					<input id="lvalue" name="lvalue" th:field="*{lvalue}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">ERP运输单号：</label>
				<div class="col-sm-8">
					<input id="version" name="version" th:field="*{version}" class="form-control" type="text">
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "cems/cemsDtproperties";
		$("#form-cemsDtproperties-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-cemsDtproperties-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
