<!DOCTYPE html>
<html lang=zh-cn>
<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link rel=icon href=/favicon.ico>
    <title>车辆行驶轨迹</title>
    <script src="https://api.map.baidu.com/api?v=3.0&ak=dlriuGKWgEEMa38d5RMGHzZ5520bp5D3&s=1"></script>
    <script src=https://api.map.baidu.com/library/AreaRestriction/1.2/src/AreaRestriction_min.js></script>
    <link href=/bdmapcar/js/about.js rel=prefetch>
    <link href=/bdmapcar/css/app.css rel=preload as=style>
    <link href=/bdmapcar/css/chunk-vendors.css rel=preload as=style>
    <link href=/bdmapcar/js/app.js rel=preload as=script>
    <link href=/bdmapcar/js/chunk-vendors.js rel=preload as=script>
    <link href=/bdmapcar/css/chunk-vendors.css rel=stylesheet>
    <link href=/bdmapcar/css/app.css rel=stylesheet>
</head>
<body>
<noscript><strong>We're sorry but baidumap-car doesn't work properly without JavaScript enabled. Please enable it to
    continue.</strong></noscript>
<div id=app></div>
<script src=/bdmapcar/js/chunk-vendors.js></script>
<script src=/bdmapcar/js/app.js></script>
</body>
</html>