<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('任务单数据列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								生产线：<input type="text" name="productLine"/>
							</li>

							<li>
								任务单号：<input type="text" name="taskNumber"/>
							</li>

							<li>
								合同编号：<input type="text" name="contractNumber"/>
							</li>

							<li>
								客户名称：<input type="text" name="customerName"/>
							</li>

							<li>
								工程名称：<input type="text" name="projectName"/>
							</li>

							<li>
								施工单位 （客户）：<input type="text" name="unitName"/>
							</li>

							<li>
								施工部位：<input type="text" name="constructionPart"/>
							</li>

							<li>
								施工地址：<input type="text" name="constructionAddress"/>
							</li>

							<li>
								浇注方式：<input type="text" name="pouringWay"/>
							</li>

							<li>
								砼标号：<input type="text" name="concreteLabel"/>
							</li>

							<li>
								坍落度：<input type="text" name="slump"/>
							</li>

							<li>
								运输距离：<input type="text" name="distance"/>
							</li>

							<li>
								送货工具：<input type="text" name="deliveryMode"/>
							</li>

							<li>
								水泥品种：<input type="text" name="cementGrade"/>
							</li>

							<li>
								AGSize：<input type="text" name="aGSize"/>
							</li>

							<li>
								技术要求：<input type="text" name="techRequest"/>
							</li>

							<li>
								配比比例：<input type="text" name="peibiScale"/>
							</li>

							<li>
								抗渗等级：<input type="text" name="contraLeakLevel"/>
							</li>

							<li>
								外加剂品种：<input type="text" name="additionSort"/>
							</li>

							<li>
								配合比编号：<input type="text" name="mixNumber"/>
							</li>

							<li>
								砂浆配合比编号：<input type="text" name="mortarMixNumber"/>
							</li>

							<li>
								计划方量：<input type="text" name="planAmount"/>
							</li>

							<li>
								计划开盘时间：<input type="text" name="planDateTime"/>
							</li>

							<li>
								任务登记人：<input type="text" name="booker"/>
							</li>

							<li>
								联系人：<input type="text" name="contact"/>
							</li>

							<li>
								联系方式：<input type="text" name="contactPhone"/>
							</li>

							<li>
								最后一次修改时：<input type="text" name="lastModifiedTime"/>
							</li>

							<li>
								备注：<input type="text" name="remark"/>
							</li>

							<li>
								创建时间：<input type="text" name="createdTime"/>
							</li>

							<li>
								Type：<input type="text" name="type"/>
							</li>

							<li>
								同步标识：<input type="text" name="syncStatus"/>
							</li>

							<li>
								从机同步标识：<input type="text" name="syncStatus2"/>
							</li>

							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="cemslink:task:add">
					<i class="fa fa-plus"></i> 添加
				</a>
				<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="cemslink:task:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="cemslink:task:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="cemslink:task:export">
						<i class="fa fa-download"></i> 导出
				 </a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('cemslink:task:edit')}]];
        var removeFlag = [[${@permission.hasPermi('cemslink:task:remove')}]];
        var prefix = ctx + "cemslink/task";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "任务单数据",
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'sID', 
					title : '序列号',
					visible: false
				},
				{
					field : 'productLine', 
					title : '生产线',
					sortable: true
				},
				{
					field : 'taskNumber', 
					title : '任务单号',
					sortable: true
				},
				{
					field : 'contractNumber', 
					title : '合同编号',
					sortable: true
				},
				{
					field : 'customerName', 
					title : '客户名称',
					sortable: true
				},
				{
					field : 'projectName', 
					title : '工程名称',
					sortable: true
				},
				{
					field : 'unitName', 
					title : '施工单位 （客户）',
					sortable: true
				},
				{
					field : 'constructionPart', 
					title : '施工部位',
					sortable: true
				},
				{
					field : 'constructionAddress', 
					title : '施工地址',
					sortable: true
				},
				{
					field : 'pouringWay', 
					title : '浇注方式',
					sortable: true
				},
				{
					field : 'concreteLabel', 
					title : '砼标号',
					sortable: true
				},
				{
					field : 'slump', 
					title : '坍落度',
					sortable: true
				},
				{
					field : 'distance', 
					title : '运输距离',
					sortable: true
				},
				{
					field : 'deliveryMode', 
					title : '送货工具',
					sortable: true
				},
				{
					field : 'cementGrade', 
					title : '水泥品种',
					sortable: true
				},
				{
					field : 'aGSize', 
					title : 'AGSize',
					sortable: true
				},
				{
					field : 'techRequest', 
					title : '技术要求',
					sortable: true
				},
				{
					field : 'peibiScale', 
					title : '配比比例',
					sortable: true
				},
				{
					field : 'contraLeakLevel', 
					title : '抗渗等级',
					sortable: true
				},
				{
					field : 'additionSort', 
					title : '外加剂品种',
					sortable: true
				},
				{
					field : 'mixNumber', 
					title : '配合比编号',
					sortable: true
				},
				{
					field : 'mortarMixNumber', 
					title : '砂浆配合比编号',
					sortable: true
				},
				{
					field : 'planAmount', 
					title : '计划方量',
					sortable: true
				},
				{
					field : 'planDateTime', 
					title : '计划开盘时间',
					sortable: true
				},
				{
					field : 'booker', 
					title : '任务登记人',
					sortable: true
				},
				{
					field : 'contact', 
					title : '联系人',
					sortable: true
				},
				{
					field : 'contactPhone', 
					title : '联系方式',
					sortable: true
				},
				{
					field : 'lastModifiedTime', 
					title : '最后一次修改时',
					sortable: true
				},
				{
					field : 'remark', 
					title : '备注',
					sortable: true
				},
				{
					field : 'createdTime', 
					title : '创建时间',
					sortable: true
				},
				{
					field : 'type', 
					title : 'Type',
					sortable: true
				},
				{
					field : 'syncStatus', 
					title : '同步标识',
					sortable: true
				},
				{
					field : 'syncStatus2', 
					title : '从机同步标识',
					sortable: true
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.sID + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.sID + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>